* { padding: 0; margin: 0; }
html {min-height:100%;font-family: sans-serif, '微软雅黑', 'Heiti'}
body {color: #fff;width: 100%;background: url(../images/5-21.jpg) no-repeat;background-size:cover;background-attachment: fixed;min-height:100%;}
ol, ul { list-style: none; }
b, i, cite { font-weight: normal; font-style: normal; }
img, iframe, embed { border: none; vertical-align: top; }
table { border-collapse: collapse; border-spacing: 0; }
input, textarea { font: 14px/1.5 microsoft yahei; outline: none; }
a { text-decoration: none; color: #fff; }
img { max-width: 100%; height: auto; }
.clearfix { zoom: 1; }
.clearfix:after { display: block; overflow: hidden; clear: both; height: 0; visibility: hidden; content: '.'; }
.left{width: 25%;float: left;background: rgba(0,0,0,.3);position: relative;height: 100%;text-align: center;position: fixed;top: 0;left: 0;}
.left .logo{width: 30%;margin-top: 20%;}
.left h1{font-weight: normal;margin-top: 5%; font-size: 50px;line-height: 1.6;}
.left .branch {font-size:30px}
.left p{line-height: 40px;font-size:24px;}
.left .loc {margin-top:30px;}
.left .loc, .left .tel {color:#999;font-size:20px}
.left .code{width: 46%;margin-top:100px;bottom: 5%;left: 27%;}
.right{width: 75%;float: left;position: relative;margin-left: 25%;}
.right .header{height: 90px;background: url(../images/top2.jpg) no-repeat;width: 100%;position: fixed;top: 0;right: 0;width: 75%;}
.right .header span{font-size: 36px;line-height: 90px;}
.right .header a{display: block;color: #fff;}
.right .category {padding:50px 0px 0px 0px}
.right .item{float: left;margin-left: 40px;}
.right .item span{background: url(../images/5-28.png)no-repeat center left;background-size: 36px auto;padding-left: 55px;}
.right .video span{background: url(../images/video.png)no-repeat center left;background-size: 36px auto;padding-left: 55px;}
.right .menu{float: right;width: 260px;background: url(../images/5-20.png) no-repeat;background-size: 100%;text-align: center;cursor: pointer;height: 90px;}
.right .menu span{background: url(../images/menu.png)no-repeat center left;background-size: 36px auto;padding-left: 55px;}
.right .back{float: right;margin-right: 40px;}
.right .back span{background: url(../images/back2.png)no-repeat center left;background-size: 36px auto;padding-left: 55px;}
.right .video-icon span{background: url(../images/video.png)no-repeat center left;background-size: 36px auto;padding-left: 55px;}
.right .back:hover span{background: url(../images/back.png)no-repeat center left;background-size: 36px auto;padding-left: 55px;}
.right .top{margin-top: 120px;}
.right .top>div:first-child{margin-left: 8%;}
.right .icons{width: 24%;float: left;position: relative;-background: pink;margin-left: 4%;cursor: pointer;}
.right .icons div{border:5px solid #fff;border-radius: 10px;position: absolute;width: 100%;box-sizing: border-box;z-index: 2;display: none;z-index: 3;}
.right .icons img{width: 90%;margin: 5%;position: relative;z-index: 2;}
.right .bottom .icons img{width: 90%;margin: 5% 5% 0 5%;}
.right .icons:hover div{display: block;}
.right .bottom{margin-top: 0px;}
.videos{margin-top:160px;}
.videos2{margin-top:35px;}
.videos>div:first-child{margin-left: 5%;}
.videos .vs{width: 40%;;text-align: center;float: left;margin-left: 4%;cursor:pointer;}
.videos .vs p{margin-top: 10px;font-size:30px;}
.videos .vs>div{border: 5px solid transparent;}
.videos .vs .border{border:3px solid #e0a242 ;width: 95%;margin: 2.5%;border-radius: 10px;box-sizing: border-box;}
.videos .vs:hover>div{border: 5px solid #fff;border-radius: 10px;box-sizing: border-box;}
.videos video{width: 100%;border-radius: 10px;}
.btns{text-align: center;margin-top:180px;}
.btns a{padding: 15px 55px;font-size: 24px;border-radius: 10px;margin: 0 3%;}
.btns>a:last-child{background: rgba(0,0,0,.5);}
.container.urgent {height:100%}
.urgent .header{height: 90px;border-bottom: 3px solid #E0A242;width: 100%;background: url(../images/top.jpg) no-repeat}
.urgent .header .title{float: left;margin-left: 40px;-line-height: 90px;padding-top: 27px;}
.urgent .header .menu{float: right;width: 260px;background: url(../images/5-20.png) no-repeat;background-size: 100%;text-align: center;cursor: pointer;height: 90px;max-width: 316px;}
.urgent .header .menu span{background: url(../images/menu.png)no-repeat center left;background-size: 36px auto;padding-left: 55px;font-size: 36px;line-height:90px}
.urgent .title span{background: url(../images/list.png) no-repeat center left;font-size: 36px;background-size: auto 36px ;padding-left: 55px;}
.urgent .header .btn{float: right;}
.urgent .btn img{height: 50px;margin-right:20px;margin-top:20px;cursor: pointer;}
.txt {height:calc(100% - 160px);width:100%;overflow:hidden}
.txt .box{display: none;}
.txt .current{display: block;}
.txt .items{width: 100%;font-size:24px;height:183px;background:rgba(0,0,0,0.3);display: block;box-sizing: border-box;}
.txt .items:nth-of-type(even){background:rgba(0,0,0,0.5);}
.txt .items .i1,.txt .items .i3{width: 20%;float: left;}
.txt .items .i2{width: 60%;float: left;}
.txt .items .i1{color:#bebebe;}
.txt .items .i1 p{line-height:40px;margin-top:20px;margin-left:40px;}
.txt .items .i1 p:first-child{margin-top: 45px;}
.txt .items .i2 p{line-height:55px}
.txt .items .i3 p{line-height:40px;margin-top:20px;margin-left:60px;}
.txt .items .i3 p:first-child{margin-top: 45px;}
.list{position: absolute;width: 260px;background: #1c2a3d;top: 90px;right: -25%;text-align: center;z-index: 9;height: 990px;position: fixed;right: -260px;top: 90px;}
.list li{height: 120px;}
.list li a.current{background: #2274c6;}
.list li a{color: #fff;font-size: 30px;line-height: 120px;display: block;}
.list li span{background: url(../images/5-28.png) no-repeat center left;background-size:30px auto ;padding-left: 40px;}
.list li a:hover{background: #2274C6;}
.list li:nth-of-type(1) span{background: url(../images/list.png) no-repeat center left;background-size:auto 24px ;}
.list li:nth-of-type(2) span{background: url(../images/5-28.png) no-repeat center left;background-size:auto 24px ;}
.list li:nth-of-type(3) span{background: url(../images/video.png) no-repeat center left;background-size:auto 24px ;}
.list li .close{border:3px solid #fff;width: 80%;height: 60px;-line-height: 60px;margin-left: 10%;margin-top: 30px;border-radius: 10px;background: transparent;color: #fff;font-size: 30px;}
.list li .close:hover{background: #2274C6;border:3px solid #2274C6;}
.content{margin-top: 90px;padding-right:30px}
.content img{width: 100%;}
.content .img-wrapper {width:840px;margin:auto;padding-top:30px;padding-bottom:50px}
.scroll_bar{position: fixed;right: 15px;top: 110px;z-index:10}
.scroll_bar img{width: 35px;margin-bottom:15px;cursor: pointer;}
.qimo8{ overflow:hidden; width:100%;background: url(../images/5-20.png) repeat-y;background-size:100%;height:70px;  font-size:24px;}
.qimo8 .qimo {width:8000%; height:70px;}
.qimo8 .qimo div{ float:left;}
.qimo8 .qimo ul{float:left; height:70px; overflow:hidden; zoom:1; }
.qimo8 .qimo ul li{float:left; line-height:70px; list-style:none;}
.qimo8 li {margin-right:10px;color:#efe133;}
:-webkit-full-screen {}
:-moz-full-screen {}
:-ms-fullscreen {}
:-o-fullscreen {}
:full-screen {}
:fullscreen {}
:-webkit-full-screen video {width: 100%;height: 100%;}
:-moz-full-screen video{width: 100%;height: 100%;}
body div.videobox{-width: 400px;-height: 320px;-margin: 100px auto;-background-color:#000;}
body div.videobox video.video{width: 100%;height: 100%;}
:-webkit-full-screen {}
:-moz-full-screen {}
:-ms-fullscreen {}
:-o-fullscreen {}
:full-screen {}
:fullscreen {}
:-webkit-full-screen video {width: 100%;height: 100%;}
:-moz-full-screen video{width: 100%;height: 100%;}
table.jobs {height:100%;width:100%;font-size:20px}
table.jobs tr {height:20%}
table.jobs tr td {padding:10px;}
table.jobs tr td {line-height:1.6}
table.jobs td.no {width:200px;color:#bebebe;font-size:18px}
table.jobs td.title {font-size:28px}
table.jobs td.salary {width:200px;font-size:24px}
table.jobs tr:nth-of-type(even){background:rgba(0,0,0,0.5);}
table.jobs .rest {font-size:18px;color:#ddd}
/** icons **/
.right .icon.item span {background-size: 36px auto;padding-left: 55px;}
.right .clean-icon span{background: url(../images/cleaning-icon.png) no-repeat center left;}
.right .care-icon span{background: url(../images/care-icon.png) no-repeat center left;}
.right .baby-icon span{background: url(../images/baby-icon.png) no-repeat center left;}
.right .mammy-icon span{background: url(../images/mammy-icon.png) no-repeat center left;background-size:28px auto!important}
.right .housework-icon span{background: url(../images/housework-icon.png) no-repeat center left;}
.right .hour-icon span{background: url(../images/hour-icon.png) no-repeat center left;}
